<div style="max-width: 600px; margin: 0 auto;">
  <h2 style="color: rgba(0,0,0,0.8);
      font-family: 'Open Sans', sans-serif;
      font-size: 22px;
      font-weight: normal;
      line-height: 24px;
      margin: 0 0 0 0;
      padding-top: 15px;
      padding-bottom: 5px;
      text-align: center;">
    Välkommenn till Torgny.io - bloggportalen där det goda samtalet förs!
  </h2>

  <hr style="max-width: 40px; border: 1px solid rgba(0,0,0, 0.2);"/>

  <p style="text-align: center; font-family: 'Open Sans', sans-serif; font-size: 18px;
      color: rgba(0,0,0,0.6); line-height: 1.4;">
    Hej <strong style="color: #00ab6b;"><%= @user.username %></strong>, tack för att du valde att gå med i vår
    community<br/>
    Vi har några förslag på vad du kan göra för att komma igång
  </p>
</div>


<div style="text-align: center;">
  <h4 style="font-family: 'Open Sans', sans-serif; font-size: 18px;
      color: rgba(0,0,0,0.6); line-height: 1.4;">Följ andra användare och intressetaggar som du brinner extra mycket
    för</h4>
  <h4 style="font-family: 'Open Sans', sans-serif; font-size: 18px;
      color: rgba(0,0,0,0.6); line-height: 1.4;">Men framför allt, dela dina tankar och berättelser med andra genom att
    skriva och publicera inlägg. </h4>
</div>


<p style="text-align: center; font-family: 'Open Sans', sans-serif; font-size: 18px;
    color: rgba(0,0,0,0.6); line-height: 1.4;">
  Ännu en gång, ett stort tack för att du valde att registrera dig. Vi väntar med spänning på din första inlägg.
</p>
<p style="text-align: center; font-family: 'Open Sans', sans-serif; font-size: 18px;
    color: rgba(0,0,0,0.6); line-height: 1.4;">
  Hälsningar, <br>
  Thomas, Torgny.io
</p>
