<div id="heroimage"  data-animation="fadeInUp-fadeOutDown">
  <div class="title" data-animation="fadeInUp-fadeOutDown">
    <h1>Läs mer, Skriv mer, Lär mer</h1>
    <p>Berätta om det som interesserar dig. <br/>Låt dig inspireras av andras berättelser.</p>
    <% if user_signed_in? && current_page?('/') %>
      <div data-animation="fadeInUp-fadeOutDown" style="width: 80%;">
        <%= render 'shared/inline_editor' %>
      </div>
    <% else %>
      <%= link_to t('header.sign_in_up'), new_user_session_path, class: 'button green-cta-button', data: {behavior: 'trigger-overlay'} %>
    <% end %>
  </div>

</div>